<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/dist/main.css">
</head>
<body>

{% include 'topline.twig' %}

<div class="l-left">
    111
</div>

<div class="l-right">
    222
</div>

<div class="l-center js-content-center">
    {% block content_center %}{% endblock %}
</div>

<script>
{% if DIR %}
    BS = {
        DIR: '{{ DIR }}'
    };
{% endif %}
</script>

{% block page_scripts %}
    <script src="/dist/main.js"></script>
{% endblock %}



</body>
</html>


