{% extends './index.twig' %}

{% block content_center %}

<div class="sign">
    <form class="sign__up js-sign-up-form" data-parsley-validate="">
        <label for="">
            <span class="sign__up__field">Email</span>
            <input name="email" type="email" required="">
        </label>
        <label for="">
            <span class="sign__up__field">Username</span>
            <input name="username" required="">
        </label>
        <label>
            <span class="sign__up__field">Password</span>
            {# data-parsley-equalto-message="This value should be the same 2" #}
            <input name="password" type="password" required="">
        </label>
        <label>
            <span class="sign__up__field">Repeat password</span>
            <input name="password2" type="password" required="" data-parsley-equalto="[name='password']">
        </label>

        <input type="submit" value="Sign up">
    </form>

    <div class="sign__warning js-signup-warning hidden">
        <p class="js-signup-warning-text"></p>
    </div>
</div>
{% endblock %}

{#{% block page_scripts %}#}
    {#{{ parent() }}#}
    {#<script src="/dist/signup.js"></script>#}
{#{% endblock %}#}