{% extends './index.twig' %}

{% block content_center %}

<div class="sign">
    <form class="sign__up js-sign-in-form" data-parsley-validate="">
        <label for="">
            <span class="sign__up__field">Email</span>
            <input name="email" type="email" required="">
        </label>
        <label>
            <span class="sign__up__field">Password</span>
            <input name="password" type="password" required="">
        </label>

        <input type="submit" value="Sign in">
    </form>

    <div class="sign__warning js-signup-warning hidden">
        <p class="js-signup-warning-text"></p>
    </div>

    <hr class="sign__line">

    <div class="">
        If you haven't  registered yet, <a href="/php/pages/sign/sign_up.php">click here</a>
    </div>

</div>
{% endblock %}

{#{% block page_scripts %}#}
    {#{{ parent() }}#}
    {#<script src="/dist/signup.js"></script>#}
{#{% endblock %}#}