{% extends './index.twig' %}

{% block content_center %}

<div class="sign">
    {{ response }}
</div>
{% endblock %}

{#{% block page_scripts %}#}
    {#{{ parent() }}#}
    {#<script src="/dist/signup.js"></script>#}
{#{% endblock %}#}